fastapi
uvicorn[standard]
python-dotenv
openai
pinecone-client
langchain
langchain-openai
langchain-core
langchain-pinecone
langchain-text-splitters
langgraph
assemblyai
supabase
beautifulsoup4
feedparser
requests
pydantic
typing-extensions
PyMuPDF
fpdf2
