[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = false

[browser]
gatherUsageStats = false

[theme]
primaryColor = "#10a37f"
backgroundColor = "#f7f7f8"
secondaryBackgroundColor = "#202123"
textColor = "#262730"

[client]
toolbarMode = "minimal"
